@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @*displays main ui layout for the application*@
            <CartMenu/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
